.hero{
    padding: 80px 20px;
    text-align: center;
    background-color: var(--background-color);
}
.hero-content{
    max-width: 800px;
    margin: 0 auto;
}
.hero-content h1{
 font-size: 3rem;
 font-weight: 700;
 margin-bottom: 20px;
}
.hero-content p{
    font-size: 1.2rem;
    color: var(--secondary-color);
    margin-bottom: 30px;
    line-height: 1.6;
}
.primary-btn {
    background-color: var(--primary-color);
    color: white;
    margin: 10px;
    padding: 12px 24px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.primary-btn:hover{
    transform: translateY(-3px);
}
.secondary-btn{
    background-color: white;
    color: var(--primary-color);
    margin:10px;
    padding: 12px 24px;
    border-radius: 12px;
    border:  2px solid var(--primary-color);
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease;
}
.secondary-btn:hover{
    background-color: var(--primary-color);
    color:  white;
}
/*--tablet--*/
@media (max-width: 768px){
    .hero{
        padding: 60px 20px;
    }
    .hero-content h1{
        font-size: 2.8rem;
    }
    .hero-content p{
        font-size: 1.1rem;
    }
}
/*--mobile --*/
@media (max-width: 480px){
    .hero{
        padding: 50px 20px;
    }
    .hero-content h1{
        font-size: 2.6rem;
    }
    .hero-content p{
        font-size: 1rem;
    }
}